<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    body::after {
  content: "";
  background: url(4.jpg);
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-size: cover;
  z-index: -1;}
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="http://talentobogota.fedesoft.org">Fedesoft</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Teatros</a>
      </li>
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Localidades
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Localidades</a>
          <a class="dropdown-item" href="#">a</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">b</a>
        </div>
      </li> -->
      <li class="nav-item active">
        <a class="nav-link" href="gallery">Galería Fotográfica</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="about">Acerca de nosotros</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
    <!--  <li class="nav-item"> -->
        <a class="nav-link" href="register">Regístrese</a>
        <a class="nav-link" href="sign_in">Iniciar Sesión</a>
      <!--</li>-->
    <!--  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
    <!--  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" border-color="black">Buscar</button> -->
    </form>
  </div>
</nav>

    <!--<%= link_to "Inicio" , root_path %>
    <%= link_to "Nosotros", about_path %>-->

    <div class="container">
      <%= yield %>
    </div>
<!--<center><img src="1.jpg" height="400" width="800" class="rounded"></center> -->
  </body>
</html>
